<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory >
		<!-- configure the oracle database property -->
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="connection.username">system</property>
		<property name="connection.password">manager</property>
		<property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>

		<!-- configure the hikaricp datasource property -->
		<property name="hibernate.hikari.connectionTimeout">20000</property>
		<property name="hiberate.hikari.minimumIdle">10</property>
		<property name="hibernate.hikari.maximumPoolSize">20</property>
		<property name="hibernate.hikari.idleTimeout">30000</property>

		<!-- configure the hibernate property -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- configure the mapping file -->
		<mapping class="com.hibernate.entity.Payment"></mapping>
		<mapping class="com.hibernate.entity.CardPayment"></mapping>
		<mapping class="com.hibernate.entity.CheckPayment"></mapping>
	</session-factory>
</hibernate-configuration>